# App
APP_PORT=3000
APP_ENV=production
APP_NAME="Soketi Panel"
APP_URL="http://localhost:3000"

TRUSTED_PROXY=null

# Better Auth Configuration
BETTER_AUTH_SECRET="your-super-secret-key-here"
BETTER_AUTH_URL="http://localhost:3000"
BETTER_AUTH_INTERNAL_URL="http://localhost:3000"

# Database config for soketi panel
DB_DRIVER=127.0.0.1
DB_HOST=mariadb
DB_PORT=3306
DB_DATABASE=soketi_db
DB_USERNAME=soketi
DB_PASSWORD=soketi_password
DB_SCHEMA=public # For postgres only

# Redis Configuration
REDIS_URL=redis://127.0.0.1:6379
REDIS_PASSWORD=redis_password

# Soketi Panel Admin Credentials
SOKETI_PANEL_EMAIL="admin@soketi-panel.app"
SOKETI_PANEL_PASSWORD="Password123"

# Soketi Configuration
SOKETI_HOST=127.0.0.1
SOKETI_PORT=6001

SOKETI_METRICS_HOST=127.0.0.1
SOKETI_METRICS_PORT=9601
SOKETI_METRICS_SCHEME=http

# Pusher
PUSHER_APP_CLUSTER=mt1 # Required for playground
PUSHER_HOST=127.0.0.1 # Required for playground
PUSHER_PORT=6001 # Required for playground
PUSHER_SCHEME=http # Required for playground
PUSHER_TLS=0 # Required for playground - [0 or 1]
