# App
APP_ENV=production
APP_NAME="Soketi Panel"
APP_URL="http://localhost:3000"

TRUSTED_PROXY=null

# Better Auth Configuration
BETTER_AUTH_SECRET="your-super-secret-key-here"
BETTER_AUTH_URL="http://localhost:3000"

# Database config for soketi panel
DB_DRIVER=mysql
DB_HOST=mariadb
DB_PORT=3306
DB_DATABASE=soketi_db
DB_USERNAME=soketi
DB_PASSWORD=
DB_PREFIX=

# Soketi Configuration
SOKETI_HOST=soketi
SOKETI_PORT=6001

SOKETI_METRICS_HOST=soketi
SOKETI_METRICS_SERVER_PORT=9601

SOKETI_DB_HOST=mariadb
SOKETI_DB_PORT=3306
SOKETI_DB_DATABASE=soketi_db
SOKETI_DB_USERNAME=soketi
SOKETI_DB_PASSWORD=root
SOKETI_DB_SCHEMA=public # For postgres only
SOKETI_DB_APP_TABLE=applications

# Pusher
PUSHER_APP_ID= # Keep empty
PUSHER_APP_KEY= # Keep empty
PUSHER_APP_SECRET= # Keep empty
PUSHER_APP_CLUSTER=mt1 # Required for playground
PUSHER_HOST=soketi # Required for playground
PUSHER_PORT=6001 # Required for playground
PUSHER_SCHEME=http # Required for playground
PUSHER_TLS=0 # Required for playground - [0 or 1]
